header{
  padding-top: 15px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  background-color: rgb(87, 82, 82);
  height: 70px;
}
a{
  text-decoration: none;
  color: rgb(236, 228, 228);
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(146, 135, 135);
  color: rgb(236, 228, 228);
}
.card{
  border: 5px solid black;
  margin: 20px;
}
.card-body{
  text-align: center;
}